{
  "env": {
    "commonjs": {
      "presets": ["env"]
    },
    "es6": {
      "presets": ["env"],
      "plugins": ["transform-runtime"]
    },
    "rollup": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["external-helpers"]
    }
  }
}
