{
  "env": {
    "commonjs": {
      "presets": ["@babel/preset-env"]
    },
    "es6": {
      "presets": ["@babel/preset-env"],
      "plugins": ["transform-runtime"]
    },
    "rollup": {
      "presets": [["@babel/preset-env", { "modules": false }]]
    }
  }
}
